<html>
    <head>
        <title>< artistrecomend ></title>
    </head>
    <body>
        <h1>< artistrecomend ></h1>
        <p><%= @title %></p>
        <p><%= @subtitle %></p>
    </body>
</html>
