<html>
    <head>
        <title>< Artist Recommendation system ></title>
    </head>
    <body>
        <h1>< Artist Recommendation system ></h1>
        <p><%= @usr %></p>
        <p><%= @art %></p>
    </body>
</html>
