<html>
    <head>
        <title> artistrecommendation </title>
    </head>
    <body>
        <h1> artistrecomendation </h1>
        <p><%= @ust %></p>
        <p><%= @art %></p>
    </body>
</html>
